<header>
	<div class="container">
		<div class="row">
        	<div class="col-md-7">
            	<img class="header" src="img/brandlogo.png" alt="">
        	</div>
        	<div class="col-md-5">
        		<div class="phone">
            		<i class="fa fa-envelope" aria-hidden="true"></i><p class="help">help@trendd.com</p>
            		<i class="fa fa-phone" aria-hidden="true"></i><p class="help">090 - 223 44 66 </p>
        		</div>
            	<div class="login"> 
            		<i class="fa fa-shopping-cart" aria-hidden="true"></i>
            		<a class="logi" href="#">login</a>
            		<a class="reg"href="#">register</a>
            	</div>
			</div>
    	</div>
		<div class="row">
			<nav>
				<ul>
					<div class="col-md-2">
						<li class="header"><a routerLink="/">products</a></li>
					</div>
					<div class="col-md-2">
						<li class="header"><a routerLink="/contact">campaings</a></li>
					</div>
					<div class="col-md-2">
						<li class="header"><a routerLink="/slider">services</a></li>
					</div>
					<div class="col-md-2">
						<li class="header"><a routerLink="/shoe">brands</a></li>
					</div>
					<div class="col-md-2">
						<li class="header"><a href="#">about us</a></li>
					</div>
					<div class="col-md-2">
						<input type="text" name="search" id="search" placeholder="search">
					</div>
				</ul>
			</nav>
		</div>
	</div>
</header>