<div class="slider">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				hej
			</div>
			<div class="col-md-8">
				<img src="../img/promoshoe.png" alt="">
			</div>
		</div>
	</div>
</div>	
<div class="container">
	<div class="row">
		<div class="col-md-4 category">
			<h1>women</h1>
			<img class="img-circle" src="../img/women.jpg" alt="">
			<p>total <br>	
			357 products</p>
			<i class="fa fa-align-justify" aria-hidden="true"></i>
		</div>
		<div class="col-md-4 category">
			<h1>man</h1>
			<img class="img-circle" src="../img/man.jpg" alt="">
			<p>total <br>
			357 products</p>
			<i class="fa fa-align-justify" aria-hidden="true"></i>
		</div>
		<div class="col-md-4 category">
			<h1>kids</h1>
			<img class="img-circle" src="../img/kids.jpg" alt="">
			<p>total <br>
			357 products</p>
			<i class="fa fa-align-justify" aria-hidden="true"></i>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p>special products</p>
		</div>
	</div>
	<div class="row">
		<shoe-list></shoe-list>
	</div>
</div>





